/textures/Battery.png filter=lfs diff=lfs merge=lfs -text lockable
/textures/metal_* filter=lfs diff=lfs merge=lfs -text lockable
/textures/plastic* filter=lfs diff=lfs merge=lfs -text lockable
/textures/*.exr filter=lfs diff=lfs merge=lfs -text lockable
